.bg-origin {
    margin: 25px 0;
    width: 300px;
    height: 100px;
    border: 20px solid #eee;
    padding: 20px;
    background: url(http://static.mukewang.com/static/img/logo_index.png) no-repeat;
}
.bg-origin-border {
    background-origin: border-box;
}
.bg-origin-padding {
    background-origin: padding-box;
}
.bg-origin-content {
    background-origin: content-box;
}


.bg-clip {
    margin: 25px 0;
    width: 300px;
    height: 100px;
    border: 20px solid #eee;
    padding: 20px;
    background: url(http://static.mukewang.com/static/img/logo_index.png) no-repeat;
}
.bg-clip-border {
    background-clip: border-box;
}
.bg-clip-padding {
    background-clip: padding-box;
}
.bg-clip-content {
    background-clip: content-box;
}


.bg-size {
    margin: 25px 0;
    width: 300px;
    height: 100px;
    border: 20px solid #eee;
    padding: 20px;
    background: url(http://static.mukewang.com/static/img/logo_index.png) no-repeat 50%;
}
.bg-size-percent {
    -webkit-background-size: 50%;
    background-size: 50%;
}
.bg-size-cover {
    -webkit-background-size: cover;
    background-size: cover;
}
.bg-size-contain {
    -webkit-background-size: contain;
    background-size: contain;
}



.multi-bgs {
    width: 300px;
    height: 200px;
    border: 20px solid #eee;
    padding: 20px;
    background: url(http://static.mukewang.com/static/img/logo_index.png) 0 0/80% auto no-repeat,
                url(http://static.mukewang.com/static/img/logo_index.png) 100% 100%/20% auto no-repeat;
}