/* latin */
@font-face {
  font-family: 'Yesteryear';
  font-style: normal;
  font-weight: 400;
  src: local('Yesteryear'), local('Yesteryear-Regular'), url(https://fonts.gstatic.com/s/yesteryear/v5/Y-2_3oNnGXTRT4ySJQfhEPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.clearfix:after {
	display: block;
	content: "";
	line-height: 0;
	clear: both;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #aaa;
}


.slider {
	position: absolute;
	width: 100%;
	bottom: 100px;
	text-align: center;
	z-index: 999;
}
.slider ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slider li {
	display: inline-block;
	width: 170px;
	height: 130px;
	margin-right: 15px;
}
.slider li:last-child {
	margin-right: 0;
}

/*  a: the trigger  */
.slider a {
	display: inline-block;
	vertical-align: top;    /*  inline-block && vertical-align  */
	width: 170px;
	padding: 70px 0 20px;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	font-family: "Yesteryear", cursive;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.8),
				 -2px -2px 1px rgba(0,0,0,0.3),
				 -3px -3px 1px rgba(0,0,0,0.3);
	position: relative;
	cursor: pointer;
}

.slider a::after, .slider a::before {
	display: block;
	content: "";
	width: 120px;
	height: 120px;
	border: 5px solid #fff;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -65px;
	top: -80px;
	z-index: 99;
}
.slider a::before {
	z-index: 999;
	background-color: rgba(0,0,0,0.3);
}
.slider a:hover::before {
	opacity: 0;
}

.slider li:nth-child(1) a {
	background-color: #02646e;
}
.slider li:nth-child(2) a {
	background-color: #eb0837;
}
.slider li:nth-child(3) a {
	background-color: #67b374;
}
.slider li:nth-child(4) a {
	background-color: #e6674a;
}
.slider li:nth-child(5) a {
	background-color: #e61061;
}

.slider li:nth-child(1) a::after {
	background: url(http://www.w3cplus.com/demo/css3/CSS3Fullbackground/sbg1.jpg) no-repeat center;
}
.slider li:nth-child(2) a::after {
	background: url(http://www.w3cplus.com/demo/css3/CSS3Fullbackground/sbg2.jpg) no-repeat center;
}
.slider li:nth-child(3) a::after {
	background: url(http://www.w3cplus.com/demo/css3/CSS3Fullbackground/sbg3.jpg) no-repeat center;
}
.slider li:nth-child(4) a::after {
	background: url(http://www.w3cplus.com/demo/css3/CSS3Fullbackground/sbg4.jpg) no-repeat center;
}
.slider li:nth-child(5) a::after {
	background: url(http://www.w3cplus.com/demo/css3/CSS3Fullbackground/sbg5.jpg) no-repeat center;
}


/* img bg */ 
img.bg {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 1;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

@-webkit-keyframes slideLeft {
	0% { left: -500px; }
	100% { left: 0; }
}
@keyframes slideLeft {
	0% { left: -500px; }
	100% { left: 0; }
}

@-webkit-keyframes slideBottom {
	0% { top: 350px; }
	100% { top: 0; }
}
@keyframes slideBottom {
	0% { top: 350px; }
	100% { top: 0; }
}

@-webkit-keyframes zoomIn {
	0% { transform: scale(0.1); }
	100% { transform: none; }
}
@keyframes zoomIn {
	0% { transform: scale(0.1); }
	100% { transform: none; }
}

@-webkit-keyframes zoomOut {
	0% { transform: scale(2); }
	100% { transform: none; }
}
@keyframes zoomOut {
	0% { transform: scale(2); }
	100% { transform: none; }
}

@-webkit-keyframes rotate {
	0% { transform: rotate(-360deg) scale(0.1); }
	100% { transform: none; }
}
@keyframes rotate {
	0% { transform: rotate(-360deg) scale(0.1); }
	100% { transform: none; }
}

@-webkit-keyframes notTarget {
	0% { z-index: 75; }
	100% { z-index: 75; }
}
@keyframes notTarget {
	0% { z-index: 75; }
	100% { z-index: 75; }
}

img.slideLeft:target {
	z-index: 100;
	-webkit-animation: slideLeft 1s 1;
	animation: slideLeft 1s 1;
}
img.slideBottom:target {
	z-index: 100;
	-webkit-animation: slideBottom 1s 1;
	animation: slideBottom 1s 1;
}
img.zoomIn:target {
	z-index: 100;
	-webkit-animation: zoomIn 1s 1;
	animation: zoomIn 1s 1;
}
img.zoomOut:target {
	z-index: 100;
	-webkit-animation: zoomOut 1s 1;
	animation: zoomOut 1s 1;
}
img.rotate:target {
	z-index: 100;
	-webkit-animation: rotate 1s 1;
	animation: rotate 1s 1;
}
img:not(:target) {
	-webkit-animation: notTarget 1s 1;
	animation: notTarget 1s 1;
}