


.box {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-right: 50px;
	background-color: orange;
	font-size: 20px;
	color: #fff;
}


.box-rotate {
	transform: rotate(45deg);
}
.box-rotate span {
	display: block;
	transform: rotate(-45deg);
}


.box-skew {
	transform: skew(30deg, 10deg);
}
.box-skew span {
	display: block;
	transform: skew(-30deg, -10deg);
}

.box-scale {
	transform: scale(0.8);  /* scale(0.8, 0.8) */
}

.box-translate {
	transform: translate(-50%, 50px);  /*  translate() 和position:relative作用类似  */
}

.box-origin-default {
	transform: scale(0.5);
}
.box-origin-leftBottom {
	transform: scale(0.5);
	transform-origin: left bottom;
}